*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

:root{
--bg-color:#ffffff;
--text-color: #121212;
--main-font:2.2rem;
--p-font: 1.1rem;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
header{
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    position: fixed;
    background: var(--bg-color);
    box-shadow: 0px 2px 18px 0 rgb(129 162 182 / 20%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 8%;
    transition: .3s;
}
.logo{
    color: var(--text-color);
    font-size: var(--main-font);
    font-weight: 600;
    line-height: 0.8;
}
#menu-icon{
    font-size: 38px;
    color: var(--text-color);
    z-index: 10001;
    display: none;
}
.navbar{
    display: flex;
}
.navbar a{
    font-size: var(--p-font);
    color: var(--text-color);
    font-weight: 600;
    padding: 10px 15px;
    margin: 0 10px;
    transition: all .40s ease;
}
.navbar a:hover{
    background: var(--text-color);
    color: #fff;
}
.icons{
    display: inline-block;
}
.icons i{
    color: var(--text-color);
    font-size: 24px;
    margin-left: 15px;
}
.icons i:hover{
    opacity: 0.7;
}



section{
    padding: 100px 8%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110vh;
    width: 100%;
    position: relative;
  }
  
  .carte {
    position: absolute;
    top: 15%;
    display: grid;
    width: 70%;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    /* margin-bottom: 100px; */
  }
  
  .box{
    padding: 0px 20px 10px 20px;
    background: transparent;
    box-shadow: 5px 30px 56.1276px rgb(55 55 55 / 12%);
    border-radius: 10px;
    position: relative;
    transition: all .35s ease;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .box img{
    width: 180px;
    height: 150px;
  }
  .box p{
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 8px;
    text-align: center;
  }
  .box h5{
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 20px;
    text-align: center;
  }
  .box .cart i{
    position: absolute;
    top: 0;
    left: 0%;
    width: 35px;
    height: 35px;
    background: var(--text-color);
    color: var(--bg-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
  }
  .box:hover{
    transform: translateY(-5px);
  }
  .information button {
    float: right;
    padding: 8px;
    margin: 12px;
    width: 70px;
    border: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.226);
    font-weight: 600;
  }
  .information{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.about{
    background: #f7f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.about-content{
    text-align: center;
}
.about-content h2{
    font-size: var(--main-font);
    margin-bottom: 30px;
}
.about-content p{
    max-width: 600px;
    font-size: var(--main-font);
    font-weight: 600;
    color: var(--text-color);
    line-height: 30px;
}

.contact{
    padding: 80px 17%;
    background: var(--text-color);

}
.main-contact{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap: 2rem;
    margin-bottom: 3rem;
}
.contact-content li{
    margin-bottom: 15px;

}
.contact-content li a{
    display: block;
    color: var(--bg-color);
    font-size: var(--p-font);
    font-weight: 600;
    transition: all .40s ease;

}
.contact-content li a:hover{
    transform: translateX(-5px);

}
.action form{
    text-align: center;
}
.action form .email{
    width: 460px;
    max-width: 100%;
    padding: 12px 15px;
    background: #515151;
    color: var(--bg-color);
    border: none;
    outline: none;
    margin: 0px 10px 20px 0px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.action form .submit{
    width: 100px;
    max-width: 100%;
    padding: 12px 15px;
    background: #ffffff;
    color: var(--text-color);
    border: none;
    outline: none;
    margin: 0px 10px 20px 0px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.last{
    text-align: center;
    padding: 17px;
    background:var(--text-color);

}
.last p{
    color: var(--bg-color);
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;

}
ul li{
    display: inline-block;
    position: relative;
}
ul .ml1 .ml{
    display:block ;
    color: white;
    text-decoration: none;
    text-align: center;
    
}

 ul li ul.dropdown li{
    display: block;
    
 }
 ul li ul.dropdown {
    background-color: rgb(197, 197, 197);
    position: absolute;
    z-index: 999;
    display: none;
    width: 100%;
 }
 ul li:hover ul.dropdown{
    display: block;
    color:white ;
 }
  









@media (max-width:800px){
    #menu-icon{
        display: block;
    }

header{
    padding: 15px 8%;
}
.navbar{
    top: 100%;
    left: 0;
    right: 0;
    position: absolute;
    flex-direction: column;
    background: var(--bg-color);
    box-shadow: 0px 2px 18px 0 rgb(129 162 182 / 20%);
    transition: all .40s ease;
}
.navbar a{
    display: block;
    padding: 1rem;
    margin: 0.5rem;
}
.navbar .active{
    top: 100%;
}
}

















